@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br /><br /><h1 class="display-4">Bienvenue sur l'annuaire de BC-DEMOCRATIZE</h1><br />
    <p>Prototype en cours de développement...</p>
    <p>En cas de problèmes : veuillez contacter l'administrateur via l'onglet "Contactez-nous"</p>
</div>
