@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<h1>Politique de confidentialité</h1>

<p>Nous sommes soucieux de la protection de vos données personnelles et nous nous engageons à respecter votre vie privée. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données.</p>

<h2>Collecte de données</h2>

<p>Nous collectons les données personnelles que vous nous fournissez volontairement, telles que votre nom, votre adresse e-mail, votre numéro de téléphone, etc., lorsque vous utilisez notre annuaire en ligne.</p>

<p>Nous collectons également des informations sur l'utilisation de notre site web, y compris les pages que vous consultez et les actions que vous effectuez, à l'aide de cookies et d'autres technologies similaires.</p>

<h2>Utilisation des données</h2>

<p>Nous utilisons les données que nous collectons pour améliorer votre expérience sur notre site web et pour fournir nos services. Nous pouvons également utiliser vos données pour vous envoyer des informations sur nos produits et services.</p>

<h2>Protection des données</h2>

<p>Nous prenons des mesures pour protéger vos données personnelles contre toute utilisation, accès ou divulgation non autorisée. Nous ne vendons pas vos données à des tiers.</p>

<h2>Modification de la politique de confidentialité</h2>

<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page.</p>

<h2>Contactez-nous</h2>

<p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à l'adresse suivante : <a href="mailto:contact@bc-democratize.fr" target="_blank">contact@bc-democratize.fr</a></p>